@model User
<div class="d-flex justify-content-end mt-5">
    <a href="/logout">Logout</a>
</div>
<div class="d-flex justify-content-center p-5 m-5">
    <h1 class="text-success">S U C C E S S</h1>
</div>